body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  background-image: url("../images/logo-wish.jpg");
  

}

h1 {
  margin-top: 100px;
  
}

h2 {
text-decoration: underline;
}

.item{
  font-size: 25px;
}
#newWish {
  margin-bottom: 60px;
  margin-top: 30px;

}
.price{
  color:green;
}
